
* {
    margin: 0;
    padding: 10px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background-color: #ffffff;
    width: 900px;
    height: 950px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


.event-header {
    text-align: center;
    margin-bottom: 25px;
}

.event-header h1 {
    color: #3d14c4;
    margin-bottom: 10px;
}
.event-header h3 {
    color: #382b64;
    margin-bottom: 10px;
}

.event-info {
    color:#555;
    font-size: 20px;
}


.description {
    margin-bottom: 25px;
}

.description h2 {
    color: #1e3a8a;
    margin-bottom: 10px;
}

.description p {
    line-height: 1.7;
    color: #333;
    font-size: large;
}


.schedule h2 {
    color: #1e3a8a;
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    
}

th {
    background-color: #1e3a8a;
    color: #ffffff;
    font-size: x-large;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e7ff;
}


.register {
    text-align: center;
    margin-top: 30px;
}

button {
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #2563eb;
    transform: scale(1.05);
}
